body{
    background-color: slategray;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: black;
    border-radius: 30px;
    /*-webkit-transform:;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    */
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-transform: translate(-50%, -50%);
}

.box {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

h1{
    color: white;
    text-transform: uppercase;
    font-weight: 50;
    font-family: 'Courier New', Courier, monospace;
} 

.user, .pass{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border-color: #2ecc71;
    border: 2px solid ;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: cornflowerblue;
    border-radius: 24px;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}

.user:focus, .pass:focus {
    width: 280px;
    border-color: #2ecc71;
}

.submit{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s; 
    cursor: pointer;
}

.submit:hover{
    background: #2ecc71 ;
}